* {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.navigator {
    padding-top: 1em;
    padding-left: 2em;
    position: fixed;
}

.menuItem {
    font-size: 36px !important;
}

.content {
    height: 100vh;
}

.card {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    height: 25vh;
}

.contentTitle {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 36px;
}

.contentTitleRight {
    text-align: right;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 36px;
}
